{% extends 'fredslist/base.html' %}

{% load bootstrap3 %}

{% block content %}
    Hello {{ user.username }}
    <h1 class="homepage_title">fredslist</h1>
    <div class="container-fluid homepage_container">
        <h3 id="us_title">US</h3>
        <hr>
        <div class="row">
{#        <ul style="list-style: none;">#}
        {% for category in category_list %}
                <div style="float: left;">

                        <h2 class="category_list text-left">{{ category.category }}</h2>
                        <ul>
                            {% for subcategory in subcategory %}

                                {% if subcategory.category == category %}
                                <li class="category_list text-left">
                                    <a href="{% url 'category_list' %}">{{ subcategory}} </a>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                </div>

        {% endfor %}
{#        </ul>#}
        </div>
    </div>


{% endblock %}