
{% extends 'fredslist/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}

<h2 class="text-center login_title">All posts</h2>
{% for post in post_list %}
    <div class="jumbotron">
    <i class="fa fa-post fa-4x text-right"></i>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <ul>
                    <li class="post_list text-left">{{ post.user }}</li>
                    <li class="post_list text-left"><a href="{% url 'post_detail' post.id %}">
                        {{ post.title }} </a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <p class="text-center"><a class='glowBtn active center'>View</a></p>
            </div>
            <div class="col-xs-12 col-md-4">
                <p class="text-center"><a class='glowBtn active center'>Edit</a></p>
            </div>
            <div class="col-xs-12 col-md-4">
                <p class="text-center"><a class='glowBtn active center'>Delete</a></p>
            </div>
        </div>
    </div>
{% endfor %}

{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="{% url 'list_posts' %}?page={{ page_obj.previous_page_number }}"><-Prev</a>
    {% endif %}
{{ page_obj }}
    {% if page_obj.has_next %}
        <a href="{% url 'list_posts' %}?page={{ page_obj.next_page_number }}">Next -></a>
    {% endif %}
{% endif %}
<div class="col-xs-12 col-sm-2"></div>
{% endblock %}